<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shev.itembank.task.custom.EsBatchIndexTaskCustomMapper">
  <resultMap id="BaseResultMap" type="com.shev.itembank.task.entity.EsBatchIndexTask">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TENANT_ID" jdbcType="CHAR" property="tenantId" />
    <result column="STATUS" jdbcType="BIT" property="status" />
    <result column="USER" jdbcType="CHAR" property="user" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <select id="selectByParameter" parameterType="java.util.Map" resultMap="BaseResultMap">
    select ID, `TYPE`, TENANT_ID, `STATUS`, `USER`, CREATE_TIME, UPDATE_TIME
    from es_batch_index_task
    where 1=1
    <if test="type != null">
      and `TYPE` = #{type}
    </if>
    <if test="tenantId != null">
      and TENANT_ID = #{tenantId}
    </if>
    <if test="user != null">
      and `USER` = #{user}
    </if>
    <if test="status != null">
      and `STATUS` = #{status}
    </if>
  </select>
</mapper>