<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shev.compilation.edumeta.dao.custom.SignificanceCustomDao">
  <resultMap id="BaseResultMap" type="com.shev.compilation.edumeta.entity.Significance">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="CORE_ID" jdbcType="INTEGER" property="coreId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATUS" jdbcType="BIT" property="status" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="SEQ" jdbcType="INTEGER" property="seq" />
    <result column="TENANT_ID" jdbcType="CHAR" property="tenantId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER_ID" jdbcType="CHAR" property="updateUserId" />
    <result column="CREATE_USER_ID" jdbcType="CHAR" property="createUserId" />
  </resultMap>
  <select id="getSignificancesByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select ID, CORE_ID, `NAME`, `STATUS`, `TYPE`, SEQ, TENANT_ID, CREATE_TIME, UPDATE_TIME,
    UPDATE_USER_ID, CREATE_USER_ID
    from significance
    where TENANT_ID = #{tenantId}
    <if test="name != null">
      and `NAME` = #{name}
    </if>
    <if test="type != null">
      and `TYPE` = #{type}
    </if>
    <if test="status != null">
      and `STATUS` = #{status}
    </if>
    <if test='updateUserId!=null'>
      and UPDATE_USER_ID = #{updateUserId}
    </if>
    <if test='updateTimeStart!=null'>
      and UPDATE_TIME <![CDATA[>=]]> #{updateTimeStart}
    </if>
    <if test='updateTimeEnd!=null'>
      and UPDATE_TIME <![CDATA[<=]]> #{updateTimeEnd}
    </if>
  </select>
</mapper>